@charset "UTF-8";

.table1 {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
	text-align: center;
}

thead tr {
	background-color: #3161A3;
	color: #ffffff
}

.raditable {
	height: 100px;
	background-color: white;
}

td {
	font-size: 12px
}

th, td {
	/* 	background-color: white; */
	/* 	border-radius: 5px; */
	text-align: center;
}

a {
	font-size: 18px;
}

p {
	margin-top: 7px;
}

.left {
	float: left;
	width: 665px;
	height: 982px;
}

.patient-info {
	width: 77.813rem;
	height: 53rem;
}

.patient-info-in {
	width: 31.938rem;
	height: 24.438rem;
	margin: 0.625rem;
	background-color: #F2F1F1;
	padding: 1.25rem;
	border-radius: 5px;
	border-top: 5px solid #4E73DF;
	box-shadow: 1px 1px 5px grey;
	margin-top: 30px;
	margin-left: 40px;
}

#radi-search-form {
	float: right;
	padding-bottom: 20px;
}

.radi-select {
	width: 6.5rem;
	height: 2.5rem;
	font-size: 15px;
}

.btn-submit {
	width: 5.25rem;
	height: 2.5rem;
	background-color: #16308D;
	color: white;
	border: none;
	margin: 0.188rem;
	box-shadow: 1px 1px 2px grey;
	font-size: 14px;
}

.radi-input {
	width: 14.25rem;
	height: 2.5rem;
	padding-bottom: 5px;
	font-size: 18px;
}

.film-submit-in {
	width: 31.938rem;
	height: 23.438rem;
	margin: 0.625rem;
	padding: 1.25rem;
	background-color: #F2F1F1;
	border-radius: 5px;
	border-top: 5px solid #4E73DF;
	box-shadow: 1px 1px 5px grey;
	overflow: auto;
	margin-top: 30px;
	margin-left: 40px;
}

.film-submit-table {
	width: 37.5rem;
	height: 15rem;
	padding-top: 0.5rem;
}

.film-submit {
	width: 41.438rem;
	height: 21.875rem;
}

#film-submit-tbody {
	background-color: white;
}

#film-record-in {
	background-color: white;
	margin-top: 90px;
}

/* gggggggggggggggggggggg */
#content {
	width: 100%;
	background-color: blue;
}

body {
	overflow: hidden;
}

#left {
	font-size: 25px;
	width: 30%;
	height: 100%;
	display: block;
	float: left;
	/* 	background-color:pink */
}

#right {
	width: 70%;
	display: block;
	float: left;
	/* 	background-color:green */
}

.grid-title {
	display: block;
	width: 100%;
	height: 0px;
	/* 	background-color:red; */
}

#grid-container {
	width: 99%;
	height: 100%;
	display: grid;
	/* 	background-color: pink; */
	padding: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column: 1;
	margin-top: 23px;
	/* 	border:1px solid red; */
}

[class*=grid-item] {
	background-color: #F2F1F1;
	/* 	border: 3px solid lightpink; */
	box-shadow: 1px 1px 5px grey;
	padding: 20px;
	font-size: 30px;
	text-align: center;
	height: 230px;
	width: 270px;
	margin: 20px;
	border-radius: 10px
}

.p_list_con {
	font-size: 15px;
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 10px;
}

#waitNumTd, #paNameTd, #waitDtTd, #waitstNmTd {
	padding-top: 75px;
}

#offcanvasscrolling {
	width: 40%;
}

/*파일 업로드폼*/
.filebox .upload-name {
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	width: 78%;
	color: #999999;
}

.filebox label {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	vertical-align: middle;
	background-color: #999999;
	cursor: pointer;
	height: 40px;
	margin-left: 10px;
}

.filebox input[type="file"] {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}

.modal-footer {
	margin-bottom: 50px;
	margin-right: 17px;
}