@charset "utf-8";

/* Spoqa Han Sans*/
@font-face {
  font-family: "spo";
  font-style: normal;
  font-weight: 200;
  src: local("Spoqa Han Sans Thin"), /* computer */
    url("../font/Spoqa Han Sans Thin.woff2") format("woff2"), /* Modern Browsers */    
    url("../font/Spoqa Han Sans Thin.woff") format("woff"), /* Modern Browsers */
    url("../font/Spoqa Han Sans Thin.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
	font-family: "spo";
	font-style: normal;
	font-weight: 500;
	src: local("Spoqa Han Sans Regular"), /* computer */
	  url("../font/Spoqa Han Sans Regular.woff2") format("woff2"), /* Modern Browsers */    
	  url("../font/Spoqa Han Sans Regular.woff") format("woff"), /* Modern Browsers */
	  url("../font/Spoqa Han Sans Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
	font-family: "spo";
	font-style: normal;
	font-weight: 700;
	src: local("Spoqa Han Sans Bold"), /* computer */
	  url("../font/Spoqa Han Sans Bold.woff2") format("woff2"), /* Modern Browsers */
	  url("../font/Spoqa Han Sans Bold.woff") format("woff"), /* Modern Browsers */
	  url("../font/Spoqa Han Sans Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  }
  
  
  
/* 나눔스퀘어라운드*/

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 300;
  src: local("NanumSquareRoundL"), /* computer */
    url("../font/NanumSquareRoundL.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundL.woff2") format("woff2"), /* Modern Browsers */    
    url("../font/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundL.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  src: local("NanumSquareRoundR"), /* computer */
    url("../font/NanumSquareRoundR.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundR.woff2") format("woff2"), /* Modern Browsers */    
    url("../font/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundR.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 500;
  src: local("NanumSquareRoundB"), /* computer */
    url("../font/NanumSquareRoundB.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundB.woff2") format("woff2"), /* Modern Browsers */
    url("../font/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundB.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 600;
  src: local("NanumSquareRoundEB"), /* computer */
    url("../font/NanumSquareRoundEB.eot"), /* IE9 Compat Modes */
    url("../font/NanumSquareRoundEB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/NanumSquareRoundEB.woff2") format("woff2"), /* Modern Browsers */
    url("../font/NanumSquareRoundEB.woff") format("woff"), /* Modern Browsers */
    url("../font/NanumSquareRoundEB.ttf") format("truetype"); /* Safari, Android, iOS */
}


  
  
  


