@charset "UTF-8";

button {
	border: none;
}

.bedbutton {
	background: none;
}

.table1 {
	margin: 20px 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
	text-align: center;
	border-width: 0 1px;
}

.table2 {
	/* 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
	margin: 0 0 40px 0;
	width: 100%;
	display: table;
	text-align: center;
}

thead tr {
	background-color: #3161A3;
	color: #ffffff
}

.active {
	border: 3px solid #4E73DF;
}

.scroller {
	overflow-y: auto;
	overflow-x: auto;
	height: 180px;
	width: 100%;
	position: sticky;
}

.search-form {
	padding-top: 5px;
	padding-bottom: 5px;
}

.h4-title1 {
	margin-bottom: 5px;
}

.grid-stack-item-content {
	padding: 15px;
}

.input-submit-button {
	width: 5.25rem;
	height: 1.7rem;
	background-color: #004262;
	color: white;
	border: none;
	float: right;
	margin: 0.188rem;
	/* box-shadow: 1px 1px 2px grey; */
	font-size: 13px;
}

.ptDocument-input {
	width: 14.25rem;
	height: 1.6rem;
	/* padding-bottom: 5px; */
	font-size: 16px;
	border: 1px solid #ddd;
}

.col-sm-2 {
	padding-right: 0px;
}

.col-sm-9 {
	
}

.form-control {
	font-family: 'spo';
	font-size: 12px;
}

.form-input {
	width: 5.25rem;
	height: 1.7rem;
	background-color: #004262;
	color: white;
	border: none;
	font-size: 12px;
	float: right;
}

/* 치료부위 근육계 */
#human {
	/* 	이미지 */
	display: block;
	margin: auto;
	position: absolute;
	width: 250px;
	left: 10px;
	filter: grayscale(70%); /*이미지 흑백 효과*/
	/* 	filter: grayscale(50%); */
}

.circle {
	/* 	체크Ball */
	position: absolute;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	border: 12px solid red;
	border-radius: 50%;
	left: 65%;
	top: 55%;
	opacity: 0.4;
/* 	z-index: 999; */
}

#curePart {
	position: relative;
	/* 	border: 1px solid black; */
	width: 265px;
	height: 300px;
}

/* 치료부위 뼈계 */
#bone {
	/* 	이미지 */
	width: 295px;
	left: -19px;
/* 	padding-top: 15px; */
	position: absolute;
}

#yg2 {
	position: absolute;
	width: 100%;
}

#ball2 {
	/* 	체크Ball */
	position: absolute;
	margin: 0 auto;
	width: 12px;
	height: 12px;
	border: 12px solid red;
	border-radius: 50%;
	left: 65%;
	top: 55%;
	opacity: 0.4;
	z-index: -1;
}
#curePart2 {
	position: relative;
	/* 	border: 1px solid black; */
	width: 265px;
	height: 250px;
}

	