@charset "UTF-8";

button {
	border: none;
}

.bedbutton {
	background: none;
}

.table1 {
	margin: 20px 0 40px 0;
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	display: table;
	text-align: center;
	border-width: 0 1px;
}

.table2 {
	/* 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
	margin: 0 0 40px 0;
	width: 100%;
	display: table;
	text-align: center;
}

thead tr {
	background-color: #3161A3;
	color: #ffffff
}

.active {
	border: 3px solid #4E73DF;
}

